
  
  /* Main Content Styles */
  main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }

  .blog-posts{
    background-color: #e8e8e8;
    padding: 20px;
    border-radius: 6%;
  }
  
  .post {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #cfd0d1;
    padding: 20px;
    border-radius: 5px;
    border: 2px solid #333;
    }
    
    .post h2 {
    text-align: center;
    }
    
    .post-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    
    }
    
    .post-content .images {
    display: flex;
    flex-direction: column;
    width: 80%;
    }
    
    .post-content .images img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border: 2px solid #333;
    border-radius: 5px;
    }
    
    .post-content .text {
    flex-grow: 1;
    margin-left: 20px;
    max-width: 65%;
    }
    
    .post-content p {
    margin: 0;
    }

    .post:first-child {
        margin-bottom: 40px;
      }

      @media (max-width: 767px) {
        .post-content {
          flex-direction: column;
          align-items: center;
        }
        
        .post-content .images {
          width: 100%;
        }
        
        .post-content .images img {
          margin-bottom: 20px;
        }
        
        .post-content .text {
          max-width: 100%;
          margin: 20px 0 0 0;
        }
      }
      
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  footer ul li {
    display: inline-block;
    margin: 0 10px;
  }
  
  footer ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  
  footer ul li a:hover {
    background-color: #fff;
    color: #333;
  }
  