
    /* Main Content Styles */
    main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    }
    
    section {
        display: flex;
        flex-direction: column;
        background-color: #e8e8e8;
        padding: 20px;
        border-radius: 5px;
      }
      
      .project-section {
        display: flex;
        flex-direction: column;
        margin-top: 40px;
      }
      .project h3 {
        text-align: center;
      }
      .project {
        display: flex;
        margin-bottom: 50px;
        flex-direction: row-reverse;
        background-color: #cfd0d1;
        padding: 20px;
        border-radius: 5px;
        border: 2px solid #333;
      }
      
      .project img {
        width: 50%;
        height: fit-content;
        border: 2px solid #333;
        border-radius: 5px;
        margin: auto 0;
        margin-left: 30px;

      }
      
      .project-description {
        width: 50%;
      }
      
      .project-description h3 {
        margin-top: 0;
      }
      
      .project-description p {
        margin-top: 10px;
      }
      
      .project-description a {
        display: block;
        margin-top: 10px;
      }
      
      h2 {
        text-align: center;
      }
      section:first-child {
        margin-bottom: 40px;
      }

      @media (max-width: 768px) {
        .project-section {
          flex-direction: column;
        }
      
        .project {
          flex-direction: column;
          align-items: center;
        }
      
        .project img {
          width: 80%;
          margin: 0;
          margin-top: 20px;
        }
      
        .project-description {
          width: 100%;
          text-align: center;
        }
      }

    /* Footer Styles */
    footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    }
    
    footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    }
    
    footer ul li {
    display: inline-block;
    margin: 0 10px;
    }
    
    footer ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
    }
    
    footer ul li a:hover {
    background-color: #fff;
    color: #333;
    }